@font-face {
    font-family: Walkway;
    src: url( 'fonts/Walkway_Bold-webfont.ttf' );
    font-weight:400;
}

/* container */
.container {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 1170px;
}

/* message */
#message {
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
}

/* game controls & settings */
.gameControl {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
}

.gameControl button {
	display: inline;
}

.form-actions button {
	margin-left: 10px;
}

/* grid */
#grid {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.cell {
	height: 16px;
	line-height: 16px;
	min-width: 16px;
	font-size: 14px;
	font-weight: bold;
	font-family: Walkway, Helvetica, Arial, sans-serif;
	text-align: center;
	border: 1px solid #333;
}

.debug, .cell-kaboom {
	background-size: 15px 15px;
}

.debug {
	background: #ccc center center no-repeat url( '../img/glyphicons_308_bomb.png' );
}

.cell-kaboom {
	background: red center center no-repeat url( '../img/glyphicons_290_skull.png' );
}

.cell-hidden {
	background-color: #ccc;
}